{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% block more_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    {% endblock %}
</head>
<body>

{% block content %}
    <div class="my_container bg-body-secondary">
        <h1>Welcome to Flasker</h1>
        <h3>A one stop solution to all your Utility Bills</h3>
    </div>
{% endblock %}

</body>
</html>